UAlbertaBot/UAlbertaBot/VisualStudio/Release
UAlbertaBot/UAlbertaBot/VisualStudio/Debug
UAlbertaBot/StarcraftBuildOrderSearch/VisualStudio/Release
UAlbertaBot/StarcraftBuildOrderSearch/VisualStudio/Debug
UAlbertaBot/AdversarialSearch/VisualStudio/Release
UAlbertaBot/AdversarialSearch/VisualStudio/Debug
UAlbertaBot/UAlbertaBot/VisualStudio/UAlbertaBot.sdf
