UAlbertaBot/UAlbertaBot/VisualStudio/Release
UAlbertaBot/UAlbertaBot/VisualStudio/Debug
UAlbertaBot/StarcraftBuildOrderSearch/VisualStudio/Release
UAlbertaBot/StarcraftBuildOrderSearch/VisualStudio/Debug
UAlbertaBot/AdversarialSearch/VisualStudio/Release
UAlbertaBot/AdversarialSearch/VisualStudio/Debug
UAlbertaBot/UAlbertaBot/VisualStudio/UAlbertaBot.sdf
UAlbertaBot/UAlbertaBot/VisualStudio/UAlbertaBot.opensdf
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
.DS_Store
latex/cmput350-paper.bcf
latex/cmput350-paper.run.xml
submit/VisualStudio
UAlbertaBot.v11.suo
*.swp
